<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Intro to Vue.js</title>
  <link rel='stylesheet' type='text/css' href='./index.css'>
</head>
<body>
  <div class='nav-bar'>
  </div>

  <div id="app">
    <div class='product'>
      <div class='product-image'>
        <img :src='image'>
      </div>
      <div class='product-info'>
        <h1 v-if='onSale'>Now on Sale!</h1>
        <h2>{{ product }}</h2>
        <p v-if='inventory > 100'>In Stock</p>
        <p v-else-if='inventory <= 100 && inventory > 0'>
          Almost sold out
        </p>
        <p v-else>Out of Stock</p>
        <div class='product-description'>
          <p>{{ description }}</p>
        </div>
        <div class='product-link'>
          <p><a :href='link'>link</a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./index.js"></script>
</body>
</html>
